@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Reset Password";
}

<div id="react-content"></div>

<script>
  app.ResetPassword_to("@(Html.Raw((@ViewData["Token"])))", "@ViewData["Role"]", "@ViewData["Email"]", "@ViewData["slug"]", "react-content")
</script>